@import url("https://fonts.googleapis.com/css2?family=Poppins:wgh@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* variable */
:root {
  --main-color: #bc9667;
  --second-coloe: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: green;

  /*Box shadow*/
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
section {
  padding: 50px 100px;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  transition: 0.5 linear;
  background: rgba(255, 255, 255, 0.2); /* Latar belakang semi-transparan */
  backdrop-filter: blur(10px); /* Efek blur pada latar belakang */
  -webkit-backdrop-filter: blur(10px); /* Untuk browser yang mendukung webkit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Garis batas (opsional) */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo-ce {
  width: 100px;
}

.logo  {
  font-size: 25px;
  color: green;
  justify-content: top;
}

.navbar {
  display: flex;
}

.nav-home {
  
  border-radius: 5px;
  color: white;
}
.navbar a {
  padding: 8px 17px;
  color: green;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  background-color: green;
  border-radius: 0.2rem;
  color: white;
  transition: 0.2s all linear;
}
.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  column-gap: 0, 8rem;
}
.header-icon .bx {
  color: var(--bg-color);
}
.header-icon bx:hover {
  color: var(--main-color);
}

.login {
  padding: 8px;
  background-color: #29bb17;
  border: none;
  color: white;
  width: 70px;
  font-size: medium;
  border-radius: 5px;
}

.login>a {
  color: white;
}

.menu-icon  {
  display: none;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;
}
.search-box.active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}
.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--main-color);
}
.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.home {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 20px;
    
}

.home-container {
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-image: url('gambar/newbg-ce.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}
/* animasi */
.rotul {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rotasi-img {
  width: 350px;
  height: auto;
  display: flex;
  position: absolute;
  /* box-shadow: 0 0 20px #29bb17; */
  border-radius: 100%;
  border-color: #29bb17;
  justify-content: center;
  align-items: center;
  animation: rotasi 5s linear infinite; /* Animasi putar kontainer tanpa henti */
  overflow: hidden;
  filter: drop-shadow(0px 0px 12px green);
}

.logo-mantul {
  border-radius: 50%;
  /* position: absolute; */
  /* right: 22.5%;
  bottom: 26%; */
  justify-content: center;
  width: 300px;
  height: auto;
   /* Mulai dari posisi normal */
  animation: animate 5s ease-out infinite;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px green; */
  filter: drop-shadow(0px 0px 12px green);

}



@keyframes animate {
  0%, 100% {
    transform: translateY(0) 
  }
  50% {
    transform: translateY(-20px) 
  }
}
@keyframes rotasi {
  from {
    transform: rotate(0deg) 
  }
  to {
    transform: rotate(-360deg)
  }
}


.animasi-satu {
  top: 60px;
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center; /* Untuk memusatkan gambar secara horizontal */
  align-items: center;    /* Untuk memusatkan gambar secara vertikal */
  filter: drop-shadow(0px 0px 12px green);
}
.animasi-satu>img {
  border-radius: 50%;
  width: 100px;
  height: 100px; /* Menambahkan tinggi untuk proporsi gambar */
  animation: komputer 5s ease-in-out infinite; /* Tambahkan animasi pada elemen div ini */
}

.animasi-2 {
  position: absolute;
  width: 75px;
  height: auto;
  bottom: 7%;
  right: 65%;
  animation: coding 5s ease-in-out infinite;
  filter: drop-shadow(0px 0px 12px green);
}

.animasi-3 {
  width: 70px;
  position: absolute;
  right: 10%;
  bottom: 18%;
  z-index: 1;
  animation: video 6s ease-in-out infinite;
  filter: drop-shadow(0px 0px 12px green);
}

.animasi-4 {
  width: 70px;
  position: absolute;
  right: 15%;
  top: 22%;
  z-index: 1;
  animation: camera 6s ease-in-out infinite;
  filter: drop-shadow(0px 0px 10px green);
}

.pendaftaran {
  width: 150px;
  position: absolute;
  left: 10%;
  display: none;
}

@keyframes camera {
  0%, 100% {
    transform: translateY(0); /* Posisi awal dan akhir di tengah */
  }
  50% {
    transform: translateY(-20px); /* Mantul ke kiri sejauh -30px */
  }
}

@keyframes video {
  0%, 100% {
    transform: translateX(0); /* Posisi awal dan akhir di tengah */
  }
  50% {
    transform: translateX(-20px); /* Mantul ke kiri sejauh -30px */
  }
}

@keyframes coding {
  0%, 100% {
    transform: translateY(10); /* Posisi awal dan akhir di tengah */
  }
  50% {
    transform: translateY(-20px); /* Mantul ke kiri sejauh -30px */
  }
}

@keyframes komputer {
  0%, 100% {
    transform: translateX(0); /* Posisi awal dan akhir di tengah */
  }
  50% {
    transform: translateX(-20px); /* Mantul ke kiri sejauh -30px */
  }
}


/* animasi end */

.home-text {
  z-index: 1;
}

.home-text h1 {
  font-size: 50px;
  color: #29bb17;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.home-text p {
  font-size: 0.938rem;
  color: var(--bg-color);
  margin: 0.5rem 0 1.4rem;
}
.btn {
  padding: 10px 40px;
  border-radius: 0.3rem;
  background: white;
  color: #29bb17;
  font-weight: 500;
  box-shadow: 2px 2px 10px green;
}
.btn:hover {
  background: gainsboro;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(17rem, auto));
  gap: 1.5rem;
  background-color: rgb(95, 244, 95);
}
.about-img img {
  width: 400px;
  border-radius: 5px;
}

.about-text {
  
  padding-top: 45px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.about-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #1C1C1C;
}

.about-text p {
  padding: 10px;
  color: #444444;
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.products-container .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}
.content {
  padding-top: 4rem;
}
#menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
/* responsive */
@media only screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
    gap: 1rem;
    
    padding: 0;
    margin: 0;
  }
  .header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header {
    padding: 10px 20px;
  }

  section {
    padding: 50px 20px;
  }

.navbar {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1001;
  }

.header-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; /* Dorong ke kanan */
  }
  body, html {
    overflow-x: hidden;
  }
  
  .login {
    display: none;
  }
  header {
    padding: 13px 25px;
    width: 100%;
    overflow-x: hidden;
  }
  .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  position: relative;
}

.home-text {
  z-index: 2;
}

.animasi-satu img {
  max-width: 100%;
  height: auto;
  position: relative; /* atau absolute, sesuai kebutuhan */
  z-index: 1;
}

  
  
  .navbar.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    font-size: 26px;
    color: green;
    cursor: pointer;
  }

  .rotasi-img {
    display: none;
  }
  .pendaftaran {
    width: 100%;
    left: 5%;
    bottom: -1%;
  }
  .rotul {
    position: relative;
    left: -20%;
  }
  .home-text h1, p {
    font-size: 40px;
    text-align: center;
    position: relative;
    left: -18%;
  }
  .animasi-satu>img {
    position: absolute;
    bottom: 7%;
    left: -20%;
    
  }
}
